// Styling for the team section
#lab {
    background-color: $light-background-color;
    .team-member {
      margin-bottom: 20px;
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        border: 4px solid $white;
      }
      h4 {
        margin-bottom: 0;
        text-transform: none;
      }
      p {
        margin-top: 0;
      }
      &.team-member-lg img {
          width: 200px;
          height: 200px;
          border: 7px solid $white;
      }
      &.former img {
          width: 80px;
          height: 80px;
          border-width: 3px;
      }
    }
}

@media(min-width:768px) {
    #lab {
        .team-member {
            margin-bottom: 50px;
            h4 {
                margin-top: 25px;
            }
            &.former {
              font-size: 90%;
              h4 {
                font-size: 90%;
              }
            }

            &:not(.team-member-lg) img {
                width: 150px;
                height: 150px;
                border: 5px solid $white;
            }
            &.former img {
                width: 100px;
                height: 100px;
                border-width: 4px;
            }
        }
    }
}
